<div
  class="container d-flex h-75 justify-content-center align-items-center min-vh"
>
  <div class="row border rounded-5 p-3 bg-white shadow box-area">
    <!-- Left Box -->
    <div
      class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
      style="background: #007BFF url('/img/ticket.jpg') center/cover;"
    >
    </div>
    <!-- Right Box -->
    <div class="col-md-6 right-box">
       <h1  style="text-align: center;">{{event.name}}</h1>
       <hr>
      <div class="row align-items-center" style="text-align: justify;">
        <p>{{event.info}}</p>

        {{#if tickets}}
          <form id="order" action="/events/{{event._id}}/orders" method="POST">
            <select
              class="form-select mb-3"
              aria-label="Select ticket"
              name="idTicket"
            >
              <option value="" disabled selected>Choose your type of ticket</option>
              {{#each tickets}}
                <option value="{{this._id}}">{{this.ticketType}}
                  <p>- Unit price:</p>{{this.price}}<p> €</p></option>
      
              {{/each}}
            </select>

            <label style=" margin-left:5px; margin-right: 115px;" for="quantity">  Quantity:</label>
            
            <input type="number" name="quantity" min="1" required />
            


            
            <select
              class="form-select mt-3 mb-3"
              aria-label="Select your methods payment"
              name="idPay"
            >
              <option value="" disabled selected>Choose your credit card</option>  
              {{#each payments}}
               <option value="{{this._id}}">{{creditCard this.cardNumber}}
              {{/each}}
            </select>
             <div class="text-center">
              <button class="buy-button" type="submit">Buy Tickets</button>
            </div>
          </form>
        {{else}}
          <p class="text-danger">No tickets are currently available for this event.</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>