
 <div class="container mt-5">
    <div class="row">
      {{#each events}}
  
      <div class="col mb-3">
         <div class="card event-type" style="background-image: url('{{this.photo}}'); background-size: cover; background-position: center;">
          <div class="card-info justify-content-center">
            <div class="text-title">{{this.name}}</div>
            <span class="text-body">{{this.location}} {{formatDate this.date}}</span>
            <hr>
            <a class="card-button" href="/events/{{this._id}}/details">Tickets</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
