<div class="container-fluid">
  <div class="d-flex flex-g-4 justify-content-between">
    <!-- Music Events -->
    <section class="col">
      <h2 class="text-center" style="margin-top: 30px; front-size: 23px; text-align: center; font-weight: 900; padding-bottom: 4px; text-transform: uppercase;">Music Events</h2>
      <div class="d-flex flex-wrap">
        {{#each musicEvents as |event|}}
          {{#isEqual event.eventType "Music"}}
            <div
              class="card-container"
              style="max-width: 500px; max-height: 600px; margin: 20px;"
            >
              <a class="card event-card" href="/events/{{event._id}}/details">
                <div class="card-inner">
                  <img
                    class="image"
                    src="{{event.photo}}"
                    alt="{{event.name}} photo"
                  />
                </div>
                <div class="card-footer">
                  <h5 class="card-title">{{event.name}}</h5>
                  <p class="card-text">{{formatDate date}}</p>
                </div>
              </a>
            </div>
          {{/isEqual}}
        {{/each}}
      </div>
    </section>
  </div>

  <div class="row">
    <!-- Festivals Events -->
    <section class="col text-center">
      <h2 class="text-center" style="front-size: 23px; text-align: center; font-weight: 900; padding-bottom: 4px; text-transform: uppercase;">Festivals Events</h2>
      <div class="d-flex flex-wrap">
        {{#each festivalsEvents as |event|}}
          {{#isEqual event.eventType "Festivals"}}
            <div
              class="card-container"
              style="max-width: 500px; max-height: 600px; margin: 20px;"
            >
              <a class="card event-card" href="/events/{{event._id}}/details">
                <div class="card-inner">
                  <img
                    class="image"
                    src="{{event.photo}}"
                    alt="{{event.name}} photo"
                  />
                </div>
                <div class="card-footer">
                  <h5 class="card-title">{{event.name}}</h5>
                  <p class="card-text">{{formatDate date}}</p>
                </div>
              </a>
            </div>
          {{/isEqual}}
        {{/each}}
      </div>
    </section>
  </div>

  <div class="row">
    <!-- Theatre Events -->
    <section class="col text-center">
      <h2 class="text-center" style="front-size: 23px; text-align: center; font-weight: 900; padding-bottom: 4px; text-transform: uppercase;">Theatre Events</h2>
      <div class="d-flex flex-wrap">
        {{#each theatreEvents as |event|}}
          {{#isEqual event.eventType "Theatre"}}
            <div
              class="card-container"
              style="max-width: 500px; max-height: 600px; margin: 20px;"
            >
              <a class="card event-card" href="/events/{{event._id}}/details">
                <div class="card-inner">
                  <img
                    class="image"
                    src="{{event.photo}}"
                    alt="{{event.name}} photo"
                  />
                </div>
                <div class="card-footer">
                  <h5 class="card-title">{{event.name}}</h5>
                  <p class="card-text">{{formatDate date}}</p>
                </div>
              </a>
            </div>
          {{/isEqual}}
        {{/each}}
      </div>
    </section>
  </div>

  <div class="row">
    <!-- Sports Events -->
    <section class="col text-center">
      <h2 class="text-center" style="front-size: 23px; text-align: center; font-weight: 900; padding-bottom: 4px; text-transform: uppercase;"npm run >Sports Events</h2>
      <div class="d-flex flex-wrap">
        {{#each sportsEvents as |event|}}
          {{#isEqual event.eventType "Sports"}}
            <div
              class="card-container"
              style="max-width: 500px; max-height: 600px; margin: 20px;"
            >
              <a class="card event-card" href="/events/{{event._id}}/details">
                <div class="card-inner">
                  <img
                    class="image"
                    src="{{event.photo}}"
                    alt="{{event.name}} photo"
                  />
                </div>
                <div class="card-footer">
                  <h5 class="card-title">{{event.name}}</h5>
                  <p class="card-text">{{formatDate date}}</p>
                </div>
              </a>
            </div>
          {{/isEqual}}
        {{/each}}
      </div>
    </section>
  </div>
</div>