<div class="container">
    <div class="row justify-content-center mt-4" style="margin-bottom:500px;">
        <div class="col-12 col-md-8">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title">Payment Methods</h5>
                    <div class="col-auto">
                        <a href="/pay/{{ currentUser._id }}/create" class="btn btn-primary"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="row">
                    {{#each payments}}
                    <div class="col-md-6">
                        <div class="visa-card mt-3" style="margin-left: 10px; margin-bottom:10px;">
                            <div class="logoContainer">
                                <svg
                                xmlns="http://www.w3.org/2000/svg"
                                x="0px"
                                y="0px"
                                width="23"
                                height="23"
                                viewBox="0 0 48 48"
                                class="svgLogo"
                                >
                                <path
                                    fill="#ff9800"
                                    d="M32 10A14 14 0 1 0 32 38A14 14 0 1 0 32 10Z"
                                ></path>
                                <path
                                    fill="#d50000"
                                    d="M16 10A14 14 0 1 0 16 38A14 14 0 1 0 16 10Z"
                                ></path>
                                <path
                                    fill="#ff3d00"
                                    d="M18,24c0,4.755,2.376,8.95,6,11.48c3.624-2.53,6-6.725,6-11.48s-2.376-8.95-6-11.48 C20.376,15.05,18,19.245,18,24z"
                                ></path>
                                </svg>
                            </div>
                            <div class="number-container">
                                <label class="input-label" for="cardNumber">CARD NUMBER</label>
                                <input
                                class="inputstyle"
                                id="cardNumber"
                                placeholder="{{creditCard this.cardNumber}}"
                                name="cardNumber"
                                type="text"
                                />
                            </div>
                            <div class="name-date-cvv-container">
                                <div class="name-wrapper">
                                <label class="input-label" for="holderName">Card Holder</label>
                                <input
                                    class="inputstyle"
                                    id="holderName"
                                    placeholder="{{this.cardHolder}}"
                                    type="text"
                                />
                                </div>

                                <div class="expiry-wrapper">
                                <label class="input-label" for="expiry">Exp/date</label>
                                <input class="inputstyle" id="expiry" placeholder="{{this.expirationDate}}" type="text" />
                                </div>
                                <div class="cvv-wrapper">
                                <label class="input-label" for="cvv">CVV</label>
                                <input
                                    class="inputstyle"
                                    placeholder="***"
                                    maxlength="3"
                                    id="cvv"
                                    type="password"
                                />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row mt-8" style="margin-top:20px;">
                            <h6 class="mb-2">Card Holder:&nbsp {{this.cardHolder}}</h6>
                                <p class="mb-2" >Credit Number:&nbsp {{ creditCard this.cardNumber}}</p>
                                <p class="mb-2">Exp/date:&nbsp{{this.expirationDate}}</p>
                        </div>
                        <div class="row text-end mt-2" style="margin:auto;">
                            <form action="/pay/{{this.idUser}}/{{this._id}}/delete" method="POST">
                                <button type="submit" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1 1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg></button>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
