
<style>
  .border-light-gray {
    border: 1px solid #ccc;
    box-sizing: border-box; 
    padding: 20px; 
  }

   .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
  }
</style>
<div class="container" >
  <div class="justify-content-center mt-4 align-items" style="margin-top: 40px;">
    <div class="border-light-gray" style="width: max-content; margin: 0 auto;">
      
              <h2> Create New Ticket</h2>
              <form action="/ticket/{{event._id}}/create" method="post">
              <div class="mb-3">
                  <h4>Ticket type</h4>
                  <label class="form-label">Type of the ticket</label>
                  <input type="text" class="form-control" {{#if errors.ticketType }}is-invalid{{/if}} name="ticketType" value="{{ticket.ticketType}}">
                  {{#if errors.ticketType}}
                    <div class="invalid-feedback">
                      {{errors.ticketType}}
                    </div>
                  {{/if}}
              </div>
              <div class="mb-3">
                  <h4>Price of tickets</h4>
                  <label class="form-label">Price</label>
                  <input type="number" class="form-control" {{#if errors.price }}is-invalid{{/if}} id="price-{{ticket._id}}" name="price" value="{{ticket.price}}" min="0"/>
                  {{#if errors.price}}
                    <div class="invalid-feedback">
                      {{errors.price}}
                    </div>
                  {{/if}}
              </div>
              <div class="button-container">
          <button type="submit" class="btn btn-primary">Save tickets</button>
          <a class="btn btn-link" href="/events/{{event._id}}/edit">Back to edit event</a>
        </div>
      </form>
    </div>
  </div>
</div>
        

