<div class="ticket container">
    <h2>My tickets</h2>
    {{#each orders}}
        <div class="order">
            <div class="order-content" style="margin-left: 10px;">
                <div>
                    <h1>{{this.idEvent.name}}</h1>
                    <h5>Ticket ID: {{this._id}}</h5>
                    <p>Total: {{this.total}}€</p>
                    <ul>
                        {{#each this.tickets}}
                            <li> Quantity: {{this.quantity}}</li>
                        {{/each}}
                    </ul>
                    <a href="/ticket/{{this._id}}/file" class="btn btn-primary">Download Ticket</a> 
                </div>
                <div class="event-image">
                    <img src="{{this.idEvent.photo}}" alt="Imagen del evento" style="max-width: 200px; max-height: 200px;">
                </div>
            </div>
        </div>
    {{/each}}
</div>
